
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top py-4">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Links útiles</h4>
            <ul>
              <li><a class="bx bx-chevron-right" href="contact.php">Contacto</a></li>
              <li><a class="bx bx-chevron-right" href="faq.php">FAQ</a></li>
              <li><a class="bx bx-chevron-right" href="fechas.php">Fechas</a></li>
              <li><a class="bx bx-chevron-right" href="lugar.php">Lugar</a></li>
              <li><a class="bx bx-chevron-right" href="about.php">Sobre CBO 2022</a></li>
            </ul>
          </div>

          <div class="col-lg-8 col-md-6 footer-newsletter">
            <h4>Organizado por:</h4>
            <div class="row">

                <div class="col-lg-4 col-md-6">
                  <img src="assets/img/urjc.png">
                </div>
                <div class="col-lg-4 col-md-6 ">
                  <img src="assets/img/upt.png">
                </div>
              </div>
                
                
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
          Designed by <a href="https://victorsegoviaweb.com/">Victor Segovia</a>
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->