  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
       <div class="hero-content"> 
            <h1>CBO 2022 International Conference</h1>
            <h2>Consumer Behaviour Online</h2>
            <a href="about.php" class="btn-get-started scrollto">Sobre CBO 2022</a>
        </div>
        <div class="logos">
            <p>Organizado por:</p>
            <img src="assets/img/urjc.png">
            <img src="assets/img/upt.png">
        </div>
    </div>
  </section>
  <!-- End Hero -->