<section id="about" class="about">
    <div class="container">

    
        <h2>Sobre la conferencia</h2>
        <p>CBO 2022 International Conference es un punto de encuentro para los académicos, investigadores y estudiantes que deseen compartir sus resultados de investigación sobre el comportamiento del consumidor online con expertos a nivel mundial. La Conferencia está organizada por la Universidad Rey Juan Carlos y será acogida cada año por una universidad. Los temas que se tratarán están divididos en cuatro grandes bloques que pretenden realizar un análisis holístico sobre el comportamiento del consumidor online</p>
      
        <h3>Comité organizador</h3>
       
        <p>CBO 2022 International Conference está organizado por la Universidad Rey Juan Carlos de manera anual como una iniciativa por parte del Dr. Ana Reyes-Menéndez. En 2022, la Conferencia será organizada junto a la Universidad Portucalense y contará con el Dr. Ferrao Filipe como Co-organizador.</p>
        <ul>
            <li><strong>Dr. Ana Reyes</strong> Rey Juan Carlos, Madrid, Spain </li>
            <li><strong>Dr. Ferrao Filipe</strong> Universidad Portucalense</li>
    
        
        </ul>

        
        <h3>Comité científico y técnico</h3>
       
        <p>El comité científico de CBO 2022 International Conference se encarga de promover nuevas secciones que puedan incluirse en los paneles de investigación existentes, así como de seleccionar los mejores resúmenes extendidos presentados en la Conferencia. Los miembros del comité técnico establecerán los parámetros de admisión de las comunicaciones apoyando las decisiones del comité científico.</p>

        <h4>Comité científico</h4>
        <ul>
            <li><strong>Prof. Dr. Stephen B. Thomas</strong> Universidad de Maryland </li>
            <li><strong>Prof. Dr. Mariano Luis Alcañiz Raya</strong> Universidad de Valencia
                </li>
       
            <li><strong>Dr. Antonio Grilo</strong>  Universidad NOVA de Lisboa
                </li>
            <li><strong>Dr. Juan Sabuco</strong>  Universidad de Oxford
                </li>
       
        </ul>

        <h4>Comité técnico</h4>
        <ul>
            <li><strong>Dr. Gi Woong Yun </strong> Universidad de Nevada en Reno
                </li>
           
                <li><strong>Dr. Dag Bennett</strong> Universidad South Bank de Londres
                    </li>
            
            
                    <li><strong>Dr. Marco Hubert,</strong>Universidad Aarhus
                        </li>
                        <li><strong>Dr. Pedro Palos-Sánchez,</strong> Universidad de Sevilla

                            </li>
                            <li><strong>Dr. Lea Kubíčková,</strong>  Universidad de Mendel</li>
                            <li><strong>Dr. José L. Ruiz-Alba Robledo,</strong> Universidad de Westminster
                                </li>
                                <li><strong>Dr. Stanislav Mokrý,</strong> Universidad de Mendel

                                    </li>

                                    <li><strong>Dr. Wajid Hussain Rizvi,</strong>Instituto de estudios empresariales Karachi


                                        </li>

                                        <li><strong>Dr. Marisol Correia,</strong>Universidad del Algarve

                                            </li>

                                            <li><strong>Dr. Beatriz Rodríguez Herráez,</strong>Universidad Rey Juan Carlos


                                                </li>

                                                <li><strong>Dr. Martina Rašticová,</strong>Universidad de Mendel


                                                    </li>

                                                    <li><strong>Dr. José Álvarez García, </strong>Universidad de Extremadura



                                                        </li>

                                                        <li><strong>Dr. Nelson Matos, </strong>Universidad del Algarve



                                                            </li>

                                                            <li><strong>Dr. Félix A. Martín-Velicia, </strong>Universidad de Sevilla



                                                                </li>

                                                                
                                                            <li><strong>Dr. José Ramón Sarmiento-Guede </strong>Universidad Rey Juan Carlos



                                                                </li>

                                                                <li><strong>Dr. Pavel Žiaran, </strong>Universidad de Mendel



                                                                    </li>

                                                                    
                                                                <li><strong>Dr. César, Álvarez-Alonso,  </strong>Universidad de Harvard




                                                                    </li>
        
       
        </ul>
    </div>
</section>