<section id="about" class="about">
    <div class="container">

    
        <h2>Sobre la conferencia</h2>
        <p>CBO 2022 International Conference es un punto de encuentro para los académicos, investigadores y estudiantes que deseen compartir sus resultados de investigación sobre el comportamiento del consumidor online con expertos a nivel mundial. La Conferencia está organizada por la Universidad Rey Juan Carlos y será acogida cada año por una universidad. Los temas que se tratarán están divididos en cuatro grandes bloques que pretenden realizar un análisis holístico sobre el comportamiento del consumidor online</p>
      
        <h3>Comité organizador</h3>
       
        <p>CBO 2022 International Conference está organizado por la Universidad Rey Juan Carlos de manera anual como una iniciativa por parte del Dr. Ana Reyes-Menéndez. En 2022, la Conferencia será organizada junto a la Universidad Portucalense y contará con el Dr. Ferrao Filipe como Co-organizador.</p>
        <ul>
            <li><strong>Dr. Ana Reyes</strong> Rey Juan Carlos, Madrid, Spain <a href="people/ana-reyes.php">More info</a></li>
            <li><strong>Dr. Ferrao Filipe</strong> Universidad Portucalense <a href="people/ferrao-felipe.php">More info</a></li>
    
        
        </ul>

        
        <h3>Comité científico y técnico</h3>
       
        <p>El comité científico de CBO 2022 International Conference se encarga de promover nuevas secciones que puedan incluirse en los paneles de investigación existentes, así como de seleccionar los mejores resúmenes extendidos presentados en la Conferencia. Los miembros del comité técnico establecerán los parámetros de admisión de las comunicaciones apoyando las decisiones del comité científico.</p>

        <h4>Comité científico</h4>
        <ul class="list_ppl">
            <li><strong>Prof. Dr. Stephen B. Thomas</strong> Universidad de Maryland <a href="https://scholar.google.es/citations?hl=es&user=JYGyQicAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Stephen-Thomas-33"><img src="assets/img/rg.png"></a></li>
            <li><strong>Prof. Dr. Mariano Luis Alcañiz Raya</strong> Universidad de Valencia
                <a href="https://scholar.google.es/citations?hl=es&user=0pUmceMAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Mariano-Alcaniz-Raya"><img src="assets/img/rg.png"></a></li>
       
            <li><strong>Dr. Antonio Grilo</strong>  Universidad NOVA de Lisboa
                <a href="https://scholar.google.es/citations?hl=es&user=G6nldpYAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/A-Grilo"><img src="assets/img/rg.png"></a></li>
            <li><strong>Dr. Juan Sabuco</strong>  Universidad de Oxford
                <a href="https://scholar.google.es/citations?hl=es&user=rCF_gegAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Juan-Sabuco"><img src="assets/img/rg.png"></a></li>
       
        </ul>

        <h4>Comité técnico</h4>
        <ul class="list_ppl">
            <li><strong>Dr. Gi Woong Yun </strong> Universidad de Nevada en Reno<a href="https://scholar.google.es/citations?hl=es&user=fIvdvwkAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Gi-Woong-Yun"><img src="assets/img/rg.png"></a>
                </li>
           
                <li><strong>Dr. Dag Bennett</strong> Universidad South Bank de Londres<a href="https://scholar.google.es/citations?hl=es&user=pxn7TZIAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Dag-Bennett"><img src="assets/img/rg.png"></a>
                    </li>
            
            
                    <li><strong>Dr. Marco Hubert,</strong>Universidad Aarhus<a href="https://scholar.google.es/citations?hl=es&user=FGYQ4ywAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Marco-Hubert"><img src="assets/img/rg.png"></a>
                        </li>
                        <li><strong>Dr. Pedro Palos-Sánchez,</strong> Universidad de Sevilla<a href="https://scholar.google.es/citations?hl=es&user=5N-8TY8AAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Pedro-Palos-Sanchez"><img src="assets/img/rg.png"></a>

                            </li>
                            <li><strong>Dr. Lea Kubíčková,</strong>  Universidad de Mendel<a href="https://scholar.google.es/citations?hl=es&user=wC2qU6gAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Lea-Kubickova-2"><img src="assets/img/rg.png"></a></li>
                            <li><strong>Dr. José L. Ruiz-Alba Robledo,</strong> Universidad de Westminster<a href="https://scholar.google.es/citations?hl=es&user=JYGyQicAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Stephen-Thomas-33"><img src="assets/img/rg.png"></a>
                                </li>
                                <li><strong>Dr. Stanislav Mokrý,</strong> Universidad de Mendel <a href="https://www.researchgate.net/profile/Stanislav-Mokry"><img src="assets/img/rg.png"></a>

                                    </li>

                                    <li><strong>Dr. Wajid Hussain Rizvi,</strong>Instituto de estudios empresariales Karachi<a href="https://scholar.google.es/citations?hl=es&user=rHtWbHkAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Wajid-Rizvi-2"><img src="assets/img/rg.png"></a>


                                        </li>

                                        <li><strong>Dr. Marisol Correia,</strong>Universidad del Algarve<a href="https://scholar.google.es/citations?hl=es&user=yFQhsBQAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Marisol-Correia"><img src="assets/img/rg.png"></a>

                                            </li>

                                            <li><strong>Dr. Beatriz Rodríguez Herráez,</strong>Universidad Rey Juan Carlos<a href="https://scholar.google.es/citations?hl=es&user=s9D9Bg4AAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Beatriz-Herraez"><img src="assets/img/rg.png"></a>


                                                </li>

                                                <li><strong>Dr. Martina Rašticová,</strong>Universidad de Mendel <a href="https://www.researchgate.net/profile/Martina-Rasticova"><img src="assets/img/rg.png"></a>


                                                    </li>

                                                    <li><strong>Dr. José Álvarez García, </strong>Universidad de Extremadura<a href="https://scholar.google.es/citations?hl=es&user=v1LVhdkAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Jose-Alvarez-Garcia"><img src="assets/img/rg.png"></a>



                                                        </li>

                                                        <li><strong>Dr. Nelson Matos, </strong>Universidad del Algarve<a href="https://scholar.google.com/citations?user=U1sbjI0AAAAJ&hl=en"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Nelson-Matos"><img src="assets/img/rg.png"></a>



                                                            </li>

                                                            <li><strong>Dr. Félix A. Martín-Velicia, </strong>Universidad de Sevilla<a href="https://scholar.google.es/citations?hl=es&user=wvxv9ZAAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Felix-Martin-Velicia"><img src="assets/img/rg.png"></a>



                                                                </li>

                                                                
                                                            <li><strong>Dr. José Ramón Sarmiento-Guede </strong>Universidad Rey Juan Carlos<a href="https://scholar.google.es/citations?hl=es&user=0P8l548AAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Jose-Sarmiento-Guede"><img src="assets/img/rg.png"></a>



                                                                </li>

                                                                <li><strong>Dr. Pavel Žiaran, </strong>Universidad de Mendel<a href="https://scholar.google.es/citations?hl=es&user=qKJNvjgAAAAJ"><img src="assets/img/gs.png"></a> <a href="https://www.researchgate.net/profile/Pavel-Ziaran"><img src="assets/img/rg.png"></a>



                                                                    </li>

                                                                    
                                                                     
        </ul>
    </div>
</section>