

  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h2>FECHAS</h2>
        <h3>Fechas importantes</h3>
        <p>Consulte a continuación las fechas importantes relacionadas con la organización del evento CBO 2022 International Conference, incluyendo la fecha límite para el envío de resúmenes ampliados, los plazos y las tarifas de inscripción, así como los descuentos por inscripción anticipada. En el recuadro siguiente se muestra la información relativa a las fechas y plazos importantes.</p>
      </div>
      <div class="gray-box">
        <ul>
          <li>Fechas envío de abstracts: 1 de abril de 2022</li>
          <li>Fecha límite inscripción: 7 de abril de 2022</li>
          <li>Respuesta aceptación de trabajos: XXX</li>
          <li>Fecha del evento: 15-16 de abril de 2022</li>
        </ul>
        <a href="form.php" class="appointment-btn scrollto"><span class="d-md-inline"> Contacto <i class="bi bi-chevron-right"></i></span></a>
      </div>
      

    </div>
  </section><!-- End Departments Section -->