 <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Preguntas frecuentes</h2>
       </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">¿Cuál es el número máximo de contribuciones que puedo realizar?
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              El máximo número de contribuciones que se pueden realizar por autor inscrito son 2.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">¿Recibiré un certificado de asistencia/participación? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Sí. Al finalizar la Conferencia, se otorgará un certificado de asistencia y otro de participación. 
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">¿Cuál es la fecha límite del envío de resúmenes? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
           
              <ul>
                <li>Fechas envío de abstracts: 1 de abril de 2022</li>
                <li>Fecha límite inscripción: 7 de abril de 2022</li>
                <li>Respuesta aceptación de trabajos: XXX</li>
                <li>Fecha del evento: 15-16 de abril de 2022</li>
              </ul>
          
          </div>
        </li>

       
      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->