 <!-- ======= Services Section ======= -->

 <section id="home" class="home">
  <div class="container">

    <div class="section-title">
      <h2>CBO 2022 International Conference</h2>
    </div>
    <div>
      <p>CBO 2022 International Conference es la primera Conferencia internacional está organizada por la Universidad Rey Juan Carlos y por la Universidad Portucalense.</p>
      
      <div class="icon_home">
        <img src="assets/img/icon.png">
        <p><strong>15-16 de abril de 2022, Oporto (Portugal)</strong></p>
      </div>
      <p>La primera Conferencia sobre Consumer Behaviour Online se celebrará los días 15 y 16 de abril de 2022 en Oporto (Portugal) con el objetivo de posicionarse como una de las Conferencias de referencia sobre Marketing digital, Ciencia de datos, Ciencia del comportamiento, Educación multidisciplinar ofreciendo contenidos de primera calidad a la comunidad académica internacional.</p>
      <p>En CBO 2022 se analizarán las tendencias disruptivas sobre el comportamiento del consumidor online prestando atención los últimos avances que darán lugar a nuevas oportunidades de debate e investigación.</p>
      <a href="form.php" class="appointment-btn-container appointment-btn scrollto">
        <span class="d-md-inline">
        Online Submission<i class="bi bi-chevron-right"></i></a>
    </div>

  </div>
</section>

<!-- End Services Section -->