
 <!-- ======= Departments Section ======= -->
 <section id="departments" class="departments">
  <div class="container">

    <div class="section-title">
      <h2>PANELES DE INVESTIGACIÓN      </h2>
      <p>La organización de esta Conferencia pretende proporcionar una plataforma internacional para los académicos, investigadores y estudiantes para compartir sus resultados de investigación con expertos a nivel mundial. Todos los trabajos presentados serán revisados por expertos y evaluados en base a su originalidad, profundidad técnica y/o de investigación, precisión y relevancia para el tema de la conferencia y los paneles propuestos.</p>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Comportamiento del consumidor online
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Marketing y empresa
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Educación
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Multidisciplinar
             </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-12 details order-2 order-lg-1">
                <h3>Comportamiento del consumidor online
                </h3>
                <ul>
                  <li>Data mining</li>
                  <li>Big data analytics</li>
                  <li>Information management</li>
                  <li>Data visualization</li>
                  <li>Social networks analysis machine learning</li>
                  <li>Artificial intelligence (AI)</li>
                </ul>
              </div>
             
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-12 details order-2 order-lg-1">
                <h3>Marketing y empresa
                </h3>
                <p>Áreas de negocio y marketing relacionadas con enfoques digitales o tecnológicos. Áreas abiertas como el marketing en redes sociales, la estrategia digital o las tecnologías de la información, entre otras.</p>
                 
                <ul>
                  <li>Digital business
                  </li>
                  <li>Digital marketing innovation

                  </li>
                  <li>Digital Transformation

                  </li>
                  <li>Digital entrepreneurship and Startups digital strategy

                  </li>
                  <li>Information Technologies (IT)

                  </li>
                  <li>Marketing automation

                  </li>
                  <li>Marketing intelligence


                  </li>
                  <li>Digital trends


                  </li>
                  <li>Online reputation management


                  </li>
                  <li>Social media marketing


                  </li>
                </ul>
              </div>
            </div>
          </div>
       
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-12 details order-2 order-lg-1">
                <h3> Educación
                </h3>
             <ul>
               <li> Transformación digital y educación
               </li>
                <li>
                   Nuevas tecnologías aplicadas a la educación
                 </li>
                  <li>
                     Nuevos comportamientos de los estudiantes en entornos digitales
                   </li>
                    <li>
                       COVID 19 y educación online</li>
             </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-12 details order-2 order-lg-1">
                <h3>Multidisciplinar 
                </h3>
               <ul>
                 <li>
                  Privacidad y datos de los usuarios
                  </li>
                 <li>
                 
                  Sociología y comportamiento del consumidor digital
                 </li>
                 <li>
                   Ciencias Sociales y el comportamiento del consumidor online
                  </li>
                 <li>
                  Enfoques multidisciplinares aplicables al estudio al consumidor online
                 </li>
               </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Departments Section -->