

  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h2>REGISTRO Y TARIFAS        </h2>
        <h3>Información sobre registro y tarifas</h3>
        <p>Las tarifas para el CBO 2022 International Conference son diferentes para autores, doctorandos o asistentes. No obstante, todos los participantes en la conferencia deben pagar la cuota de inscripción.</p>
      </div>
      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Autores

              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                El registro para los autores incluye:
              </p>
              <ul>
                <li>Admisión a todas las sesiones de la Conferencia</li>
                <li>Presentación de los artículos aceptados</li>
                <li>Actas de la Conferencia en PDF con ISBN</li>
                <li>Certificado de asistencia, presentación y autoría</li>
                <li>Bolsa  de la Conferencia</li>
                <li>Pausa café en los días de la conferencia</li>
              </ul>
              <p>
                Precio: 90€
              </p>
            </div>
          </li>
  
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Doctorandos <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                El registro para los doctorandos incluye:
              </p>
              <ul>
                <li>Admisión a todas las sesiones de la Conferencia</li>
                <li>Presentación de los artículos aceptados</li>
                <li>Actas de la Conferencia en PDF con ISBN</li>
                <li>Certificado de asistencia, presentación y autoría</li>
                <li>Bolsa  de la Conferencia</li>
                <li>Pausa café en los días de la conferencia</li>
              </ul>
              <p>
                Precio: 60€
              </p>
            </div>
          </li>
  
          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Asistentes <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                El registro para los asistentes incluye:
              </p>
              <ul>
                <li>Admisión a todas las sesiones de la Conferencia
                </li>
                <li>Bolsa  de la Conferencia</li>
                <li>Actas de la Conferencia en PDF con ISBN</li>
                <li>Pausa café en los días de la conferencia</li>
            
              </ul>
              <p>
                Precio: 40€
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <p>
          *Los asistentes son oyentes y no presentan ninguna comunicación en la conferencia.
        </p>
        <h4>
          Envío de resúmenes
        </h4>
        <p>
          Antes de la inscripción, los autores deben enviar los resúmenes a través del proceso de revisión por pares. La información está disponible en este link. Su resumen debe ser aceptado antes de la inscripción de los autores y del pago.
        </p>
        <h4>
          Instrucciones de registro
        </h4>
      </div>
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Paso 1: Pago

            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              Tras la aceptación del resumen, los autores deberán realizar el pago de la cuota de inscripción mediante transferencia bancaria, indicando como concepto el nombre completo del autor y el ID del resumen extendido aceptado (enviado por correo electrónico por el equipo de organización de CBO en el momento del envío). Las tasas de inscripción se indican más arriba.
            </p>
           <p>(link: Información de transferencia bancaria)
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Paso 2: Formulario de registro <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Rellene el formulario de inscripción, disponible en este enlace, con sus datos personales y de participación en la Conferencia. No olvide adjuntar el comprobante de pago.
            </p>
            <a href="form.php" class="appointment-btn-container appointment-btn scrollto">
              <span class="d-md-inline">
              Online Submission<i class="bi bi-chevron-right"></i></a>
          </div>
        </li>

      </ul>
    </div>
  </section><!-- End Departments Section -->