<section id="actas" class="actas">
  <div class="container">

  
      <h2>Actas y oportunidades de publicacion</h2>
      <p>CBO 2022 International Conference se asociará con prestigiosas revistas indexadas en los rankings Web of Sciences y Scopus, entre otras. Estas revistas publicarán los trabajos presentados en la Conferencia. Las actas de la Conferencia se publicarán en PDF con ISBN.</p>

      <ul>
        <li>Journal of Business Research</li>
        <li>Journal of Spatial and Organizational Dynamics</li>
        <li>Behavioral Sciences</li>
        <li>International Journal of Internet Marketing and Advertising</li>
        <li>Journal of Indian Business Research</li>
        <li>Sustainability</li>
        <li>Journal of Innovation & Knowledge</li>
        <li>Global Business and Organizational Excellence</li>
        <li>China Finance Review International</li>
        <li>Applied Marketing Analytics</li>
      </ul>
    

  </div>
</section>