<section id="submissions" class="submissions">
  <div class="container">

      <h2 class="no-bold">Información sobre Precios y Registro</h2>
      <h2>
        Submissions
      </h2>
      <p>Esta conferencia utiliza un proceso de submission en un solo paso. Los autores pueden participar en la Conferencia presentando un resumen extendido. Los resúmenes extendidos pueden estar escritos en uno de los siguientes idiomas: inglés, portugués o español. La plantilla de Microsoft Word para el CBO 2022 International Conference está disponible aquí. (link)
      </p>

      <h3>Guía para los autores</h3>
      <p>Los resúmenes extendidos deben tener al menos 500 palabras y no más de 800 palabras e incluir 5 palabras clave y 5 referencias en formato APA. El resumen extendido debe estar compuesto por la siguiente estructura tal y como se presenta en la plantilla de la conferencia:</p>
      <ul>
       
        <li>1. Propósito</li>
        <li>2. Diseño/metodología/enfoque</li>
        <li>3. Resultados</li>
        <li>4. Limitaciones/implicaciones de la investigación</li>
        <li>5. Implicaciones prácticas/implicaciones sociales</li>
        <li>6. Originalidad/valor</li>
        
      </ul>
      <h3>Envíe su propuesta</h3>
      <p>Los resúmenes extendidos deben enviarse a través de la plataforma EasyChair indicando el nombre de los autores, su afiliación y la información del resumen. Tras la aceptación de cada resumen, los autores deberán realizar el pago de la cuota de inscripción mediante transferencia bancaria indicando como concepto el nombre completo del autor. El formulario de inscripción está disponible en la página de Inscripción y Tasas.</p>

      <p>Envíe su propuesta de resumen haciendo clic en la imagen de abajo:</p>

      <a href="form.php" class="appointment-btn appointment-btn-container scrollto"><span class="d-md-inline">ONLINE SUBMISSION <i class="bi bi-chevron-right"></i></span></a>

  </div>
</section>