 <!-- ======= Services Section ======= -->

 <section id="visa" class="visa">
    <div class="container">
  
      <div class="section-title">
        <h2>Visa</h2>
      </div>
      <div>
        <p>Es responsabilidad del interesado investigar los requisitos de visado para Portugal y solicitar una carta de invitación a la Conferencia, si es necesario.
        </p><p> Si necesita un visado, le aconsejamos que solicite y presente una carta de invitación oficial de los organizadores de la Conferencia para facilitar el proceso de visado. Tenga en cuenta que las cartas de invitación sólo se expiden a los participantes inscritos y pagados/aprobados.</p>
            Si necesita una carta de invitación, envíe un email a <a href="mailto:info@cboresearch.com">info@cboresearch.com</a>.
        </p>
        
      </div>
  
    </div>
  </section>
  
  <!-- End Services Section -->