<section id="about" class="about">
    <div class="container">
        <div class="row">
            <h2>Co-chair</h2>
            <h3><a href="">Ana Reyes</a></h3>
            <div class="col-lg-4 text-center ">
                <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
              </div>
            <div class="col-lg-8 details ">
             <p>Ana Reyes-Menéndez es profesora de Marketing Digital en el Departamento de Economía de la
                Empresa de la Universidad Rey Juan Carlos.<br>
                
                Cuenta con más de 10 años de experiencia trabajando en Marketing y Marketing Digital con
                empresas como HBO, Sony, Tommy Mels, El Corte Inglés, Tour de Francia o Skoda. Ha
                organizado las Jornadas de Digital Pills en las que han participado altos ejecutivos de empresas
                como Accenture, Hawkers, Experian o Google presentando tecnologías punteras para el
                negocio y el marketing. Cuenta con un doctorado en Economía de la Empresa y su
                investigación se centra en el comportamiento del consumidor digital, Neuromarketing y
                Marketing Digital. Ha publicado en las principales revistas científicas IEEE Access y Peerj
                Computer Science sobre el comportamiento del consumidor en entornos digitales.<br>
                
                Ha realizado estancias de investigación en la Universidad Portucalense (UPT), la Universidade
                do Algarve (Faro) y RCC en la Universidad de Harvard (Cambridge). Ha realizado estancias post
                doctorales en el marco del programa Erasmus+ en la UPT (Oporto), London South Bank
                (Londres), Universidade Algarve (Faro), Universidad Mendel (Praga) y Nueva Universidad de
                Bulgaria (Sofía). Ana Reyes-Menéndez forma parte de los consejos de redacción de varias
                revistas de ciencias empresariales y de la información, y es una de las copresidentas de la 1ª
                Conferencia Internacional CBO en Compotamiendo del Consumidor Online (CBO 2022).</p>
            </div>
            <h3>Publicaciones seleccionadas</h3>
            <ul>
                <li>The impact of e-WOM on Hotels Management Reputation: Exploring TripAdvisor Review
                    Credibility with the ELM model.<i> IEEE Access (2019). </i> <a href="https://ieeexplore.ieee.org/document/8723076">More info</a></li>
                <li>The importance of behavioral data to identify online fake reviews for tourism businesses: A
                    systematic review. <i>Peerj Computer Science.</i> <a href="https://peerj.com/articles/cs-219/">More info</a></li>
                <li>Understanding #WorldEnvironmentDay user opinions in Twitter: A topic-based sentiment
                    analysis approach.<i>International Journal of Environmental Research and Public Health.</i>  <a href="https://www.researchgate.net/publication/328901983_Understanding_WorldEnvironmentDay_User_Opinions_in_Twitter_A_Topic-Based_Sentiment_Analysis_Approach">More info</a></li>
                <li>Understanding user behavioral intention to adopt a search engine that promotes sustainable
                    water management.<i> Symmetry-Basel .</i>  <a href="https://www.researchgate.net/publication/328688037_Understanding_User_Behavioral_Intention_to_Adopt_a_Search_Engine_that_Promotes_Sustainable_Water_Management">More info</a></li>
                <li><i>Understanding the influence of wireless communications and Wi-Fi access on customer loyalty:
                    A behavioral model system. <i>Wireless Communications and Mobile Computing.</i>  <a href="https://www.researchgate.net/publication/329365581_Understanding_the_Influence_of_Wireless_Communications_and_Wi-Fi_Access_on_Customer_Loyalty_A_Behavioral_Model_System">More info</a></li>
            </ul>
          </div>
    </div>
</section>

